.App {
  text-align: center;
}

.App-logo {
  height: 192px;
  margin-bottom: 1em;
}

.App-header {
  background-color: #FFFFFF;
  height: auto;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Result{
  padding-top:20px;
}

.content{
  padding:2em;
  text-align: center;
}

.outer{
  text-align: left;
  width: 300px;
}

.inner{
  position: absolute;
  width: 300px; 
  padding-bottom: 2em; 
}

.center {
  margin: auto;
}

.hidden{
  visibility: collapse;
}

.ui.form .field>label{
  margin-bottom: 0.4em;
}
.ui.dropdown .menu>.item {
  font-size: 1em;
}
.ui.dimmer{
  position: fixed;
}


